.newsletter{
   
    width:75%;
height:60vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: auto;
padding: 0px 140px;
margin-top: 700px;
margin-bottom: 50px;
background:linear-gradient(180deg, rgb(232, 173, 232), rgb(138, 135, 135) 60%);
gap:30px;



}
.newsletter h1{
    color: rgb(40, 38, 38);
    font-size: 40px;
    font-weight: 600;
    text-align: center;
}
.newsletter p{
    color: rgb(45, 44, 44);
    font-size: 20px;
    text-align: center;
}
.newsletter div{
     display: flex; 
    align-items: center;
    justify-content:space-between;
    background: white; 
    width: 235px;
    border-radius: 10px;
    border:1px solid white;
    margin-right: 100px;
    


}
.newsletter input{
    width:500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: gray;
    font-family: poppins;
    font-size: 16px;
    margin-left:10

}
.newsletter button{
    width:210px;
    height: 50px;
    border-radius: 10px;
    background: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;

}