.loginsignup{
    width:100%;
    height:70vh;
    background: white;
    padding-top: 10px;
   

}
.loginsignup-container{
    width:550px;
    height:400px;
    background: rgb(240, 236, 236);
    margin: auto;
    padding: 20px 40px;

}
.loginsignup-container h1{
    margin: 0px 0px;

}
.loginsignup-fields{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}
.loginsignup-fields input{
    height: 40px;
    width:100%;
    padding-left: 20px;
    border:1px solid white;
    outline: none;
    color: gray;
    font-size: 18px;
}
.loginsignup-container button{
    width:180px;
    height:40px;
    color: white;
    background: red;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border: 1px solid white;
}
.loginsignup-login{
    margin-top: 10px;
    color: gray;
    font-size: 18px;
    font-weight: 500;
}
.loginsignup-login span{
    color: red;
    font-weight: 500;

}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    color: gray;
    font-size: 18px;
    font-weight: 500;
}


